#toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3000;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  color: #000;
  padding: 15px 25px;
  border: 2px solid #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  text-align: center;


  transition: visibility 0.3s, opacity 0.3s, transform 0.3s ease-out;

  /* Responsive width */
  width: 90%;
  max-width: 400px;

  border-radius: 0;
}

/* Class to show the toast */
#toast-container.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -10px);
}
